.DS_Store
*.elc
\#*
doc/*
bookmarks
backup
backup.*
org-clock-save.el
ac-comphist.dat
tramp
elpa*
elpa*.bac
tmp
var
eshell
ido.last
recentf
vendor
.cask
emms
url
auto-save-list
projectile-bookmarks.eld
projectile.cache
tutorial/*
.mc-lists.el
network-security.data
persp-confs/
emojis